@font-face {
  font-family: 'Zona Pro Thin';
  src: url('ZonaPro-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-ThinItalic.svg#489193bc210a2f35d8a28037d9282c2b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Zona Pro ExtraBold';
  src: url('ZonaPro-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-ExtraBold.svg#b1685b3bb7bf2cab29af6680c5962cb9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Zona Pro SemiBold';
  src: url('ZonaPro-SemiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-SemiBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-SemiBoldItalic.svg#40d9dc5992fcd91c986ce763d0b18251') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Zona Pro Black';
  src: url('ZonaPro-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-BlackItalic.svg#7ab880f8711d8f0fd1dab05483db0866') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Zona Pro Black';
  src: url('ZonaPro-Black.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-Black.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-Black.svg#e06a1b5abe020541116679cfcedb5416') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Zona Pro Light';
  src: url('ZonaPro-Light.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-Light.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-Light.svg#539f28dff6ab3b175f2fd677663c51c6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Zona Pro Regular';
  src: url('ZonaPro-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-RegularItalic.svg#50903ccde4896339dc5dfd301348fe14') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Zona Pro Light';
  src: url('ZonaPro-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-LightItalic.svg#f274ef5ff2b2ebe0601a37963eaa00d5') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Zona Pro Hairline';
  src: url('ZonaPro-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-HairlineItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-HairlineItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-HairlineItalic.svg#f16ebd89b3fabd724017c27ac174ce85') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Zona Pro ExtraBold';
  src: url('ZonaPro-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-ExtraBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-ExtraBoldItalic.svg#4ce38c929f133fcc970f7c9856595391') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Zona Pro Bold';
  src: url('ZonaPro-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-BoldItalic.svg#91c5d94ae404bcf02c241d64eabe2ab8') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Zona Pro Thin';
  src: url('ZonaPro-Thin.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-Thin.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-Thin.svg#7578feebbccce406800e568eece85043') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Zona Pro SemiBold';
  src: url('ZonaPro-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-SemiBold.svg#162f7822120324b8c470efd092b0a3f1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Zona Pro';
  src: url('ZonaPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-Regular.svg#bb1fe4599c1fb6494adcac51c11eb979') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Zona Pro Bold';
  src: url('ZonaPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-Bold.svg#9f382fee952eb88388ebc6cbb2f6f72b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Zona Pro Hairline';
  src: url('ZonaPro-Hairline.eot'); /* IE9 Compat Modes */
  src: url('ZonaPro-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ZonaPro-Hairline.woff') format('woff'), /* Modern Browsers */
       url('ZonaPro-Hairline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ZonaPro-Hairline.svg#c5e1f6902d776e7e1ed6262bd857df8d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

