body {
  background: $white;
  color: $blue;
  font-family: $sansBold;
  font-size: $baseFontSize;
  font-weight: 400;
  line-height: $baseLineHeight;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkColorHover;
  }
}

strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 2) 0;
  font-family: $sansBold;
  line-height: $baseLineHeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1,
h2,
h3 { line-height: $baseLineHeight * 2; }

h1 { font-size: $baseFontSize * 2.75; } // ~38px
h2 { font-size: $baseFontSize * 2.25; } // ~32px
h3 { font-size: $baseFontSize * 1.75; } // ~24px
h4 { font-size: $baseFontSize * 1.25; } // ~18px
h5 { font-size: $baseFontSize; }
h6 { font-size: $baseFontSize * 0.85; } // ~12px

p {
  margin: 0 0 $baseLineHeight / 2;
  font-size: 12px;
  line-height: 175%;
}
ol, ul {
  margin: 0 0 20px 20px; 
}
li {
  margin: 5px 0;
}
.menu {
  ul, ol {
    list-style: none;
  }
  li {
    margin: 0;
  }
}
img {
  height: auto;
  width: 100%;
}

// No transitions while loading
.loading * {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

// Transition placeholder
%trans {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.intro-text {
  p {
    font-size: 14px;
    color: $peach;
    line-height: 150%;
    letter-spacing: 2px;
    @include breakFirst(medium) {
      font-size: 23px;
    }
    @include breakFirst(large) {
      font-size: 23px;
    }
  }
}

.sidebar {
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 5px;
    line-height: 150%;
  }
  p {
    font-size: 10px;
    line-height: 175%;
  }
}

.heading-image {
  img {
    height: 30px;
    margin: 5px 0 15px;
    @include breakFirst(large) {
      margin: 20px 0 40px;
    }
  }
}

.intro-image {
  padding: 0 15px;
  margin-bottom: 25px;
  @include breakFirst(large) {
    padding: 0 135px;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
