.team-member, .fruit {
  margin: 0 0 40px;
  img {
    float: left;
  }
  h2 {
    margin: 15px 0 15px;
    line-height: 120%;
    font-size: 18px;
    text-transform: uppercase;
  }
  ul {
    font-size: 12px;
    line-height: 175%;
  }
}